#profileImage {
    width: 100%;
}

#brandStoryBlueContainer {
    background-color: var(--hotAirBalloon);
    margin-top: 12px;
    padding-bottom: 12px;
}

#brandStoryWhiteContainer {
    background-color: var(--white);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}