#carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carouselImage {
    max-width: 60vw;
    border-radius: 4px;
}

@media (min-width: 800px) {
    #heroContainer {
        display: flex;
        flex-direction: row;
        padding: 2.5vw 5vw; 
        justify-content: space-between;
    }

    #intro {
        max-width: 40%;
    }

    #intro > p {
        margin-left: 0;
    }
}