#carouselContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.carouselFocus {
    
}

.carouselSides {
    transform: scale(.75);
}

.carouselImage {
    max-width: 50vw;
    border-radius: 4px;
}

#dotsContainer {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 20px;
}

.dots {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.blueDot {
    background-color: var(--hotAirBalloon);
}

.yellowDot {
    background-color: var(--rubberDucky);
}

.redDot {
    background-color: var(--strawberryDessert);
}

@media (min-width: 800px) {
    #heroContainer {
        display: flex;
        flex-direction: row;
        padding: 2.5vw 5vw; 
        justify-content: space-between;
    }

    #intro {
        max-width: 40%;
    }

    #intro > p {
        margin-left: 0;
    }
}